* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#cube{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}