* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #000;
    color: #fff;
    font-family: 'Nunito', sans-serif;
}

h1{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2;
}

p{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
}   

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    padding: 1rem 2rem;
}

.nav-items{
    display: flex;
    align-items: center;
    gap: 2rem;
}

button{
    outline: none;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    box-shadow: 0 0 10px #fff;
}

/* .page{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
} */

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
    padding: 1rem 2rem;
}
footer h1{
    width: 40%;
}

.footer-links{
    display: flex;
    gap: 2rem;
}

canvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;     
}